/* Clases para el header */

.header {
    display: flex;
    justify-content: space-between;

    margin-left: 3em;
    margin-right: 3em;
}

.header_color {
    background-color: royalblue;
    color: white;
}

.header_image {
    width: 5rem;
    height: 5rem;
    margin: 0.5em;

}

.header_texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
}


