.creaTurnos_panel {
    padding-top: 1em;
    padding-bottom: 1em;
    border: 1px solid gray;
    border-radius: 3px;
    align-content: center;
    margin-bottom: 1em;
}

.creaTurnos_panel div {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.creaTurnos_panel button {
    margin-top: 1em;
    width: 25%;
}

.creaTurnos_panel input {
    align-self: center;
    height: 2rem;
    width: 50%;
    margin-bottom: 1em;
}

.creaTurnos_panel {
    display: none;
}

.creaTurnos_inputs {
    align-content: center;
    align-content: center;
    flex-direction: column;
    margin-top: 1em;
}

.creaTurnos_inputs label {
    align-self: center;
}