.dpMain {

    display: flex;
    min-height: calc(100vh - 6em);

}

.dpleft {
    display: flex;
    flex-direction: column;

    min-width: 15em;
    width: 15%;
    background-color: rgba(0, 0, 0, 0.2);

}

.dpright {
    width: 85%;
    background-color: rgba(0, 0, 0, 0.1);
}

.dpbody {
    padding-top: 0.5em;
    padding-bottom: 0.5em;

}