.fichar_contenedor {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fichar_hora {

    padding: 1.5em;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 2.5rem;
    font-weight: bolder;
}

.fichar_horas {
    margin-top: 1em;
    line-height: 1.5em;
    text-align: center;
    font-size: 1.5em;
}

.fichar_boton {
    width: 20em;
    margin-bottom: 0.5em;
}

.fichar_botones {
    display: flex;
    flex-direction: column;
    margin-top: 2.5em;
}

.fichar_datos {
    margin-top: 5em;
    align-self: center;
    text-align: center;
    line-height: 2em;
    font-size: 0.8em;
}
