.fondo_imagen {
        background-position: right;
}

.portada {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin: 0 auto;
        text-align: center;
}

.portada_titulo {
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 0.5em;
}

.portada_pnlUsuario_imagen {
        margin-top: 1em;
        margin-bottom: 1em;
        align-self: center;
}

.portada_pnlUsuario_imagen figure img {
    width: 10rem;
}

.portada_pnlUsuario_imagen figcaption {
    margin-top: 1em;
    margin-bottom: 1em;
}


.portada_pnlUsuario {
    padding-top: 1.5em;
}

.portada_pnlUsuario_datos {

    background-color: rgba(45, 45, 45, 0.4);
    display: flex;
    flex-direction: column;
    align-self: center;
    line-height: 1.5em;
    padding: 0.5em;
    border-radius: 5px;

}

.portada_pnlUsuario_controls {
    padding-bottom: 1.5em;
    width: 80%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-self: center;
    line-height: 2em;

}

.portada_pnlUsuario_controls a, .portada_pnlUsuario_controls button {
        margin-bottom: 0.3rem;

}

.portada_pnlCuerpo_seccion {
        margin: 2em;

}

.portada_pnlCuerpo_botonera {

}


.portada_notificaciones p {
    margin: 1em;
    margin-bottom: 0.3em;
    padding: 1em;
    background-color: rgba(255, 0, 0, 0.33);
    border: 3px solid red;
    border-radius: 15px;
}

.botonIndex {
    display: flex;
}