.fondo_imagen {
        background-position: right;
}

.portada {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin: 0 auto;
        text-align: center;
}

.portada_titulo {
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 0.5em;
}

.portada_pnlUsuario_imagen {
        margin-top: 1em;
        margin-bottom: 1em;
        align-self: center;
}

.portada_pnlUsuario_imagen figure img {
        width: 10rem;
}

.portada_pnlUsuario_imagen figcaption {
        margin-top: 1em;
        margin-bottom: 1em;
}

.portada_pnlCuerpo {
        height: 100%;

}

.portada_pnlUsuario_datos {
        width: 80%;
        text-align: justify;
        display: flex;
        flex-direction: column;
        align-self: center;
        line-height: 2em;

}

.portada_pnlUsuario_controls {
        width: 80%;
        text-align: justify;
        display: flex;
        flex-direction: column;
        align-self: center;
        line-height: 2em;

}

.portada_pnlUsuario_controls a, .portada_pnlUsuario_controls button {
        margin-bottom: 0.3rem;

}

.portada_pnlCuerpo_seccion {
        margin: 2em;

}

.portada_pnlCuerpo_botonera {

}
