<div class="table-responsive">
    <table class="table table-hover" id="dev-table">
        <thead class="thead-dark">
        <tr>
            <th>Nif</th>
            <th>Email</th>
            <th>Rol</th>
        </tr>
        </thead>
        <tbody class="table-stripped panel_tabla_tupla_editar">
        {% for i in usuarios %}
            <tr>
                <td>
                    {{ i.nif }}
                </td>
                <td>
                    {{ i.email }}
                </td>
                <td>
                    {{ i.roles | first }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>










