<div class="portada">
    <h3 class="portada_titulo texto_mas_grande texto_grueso">Bienvenido a nuestra aplicación!</h3>
    <div class="portada_cuerpo">
        <div class="portada_fondo ">
            <a href="{{ path('app_login') }}">Entrar en la app</a>
        </div>
        <hr>
        <div class="portada_descripcion">
            <h4 class="texto_grande texto_grueso">Placeholder!:</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At excepturi inventore maxime optio pariatur quidem quisquam! Aliquid architecto atque, aut, autem, consectetur deleniti fuga inventore necessitatibus neque nihil nostrum quasi recusandae similique tenetur velit voluptatum.</p>
        </div>
    </div>

</div>