<div class="creaTurnos_panel">
    <div class="creaTurnos_titulo">
        <h2>Crear nueva plantilla</h2>
    </div>
    <form>
        <div class="creaTurnos_inputs">

            <div><label>Desde: </label><input id="IN_TM_D" type="time" pattern="/[\S\s]+[\S]+/"></div>
            <div><label>Hasta: </label><input id="IN_TM_H" type="time" pattern="/[\S\s]+[\S]+/"></div>
        </div>
        <div>
            <button id="btnAceptar" type="button" class="btn btn-primary"><i class="fas fa-check"></i></button>
        </div>
    </form>

</div>
<table class="table table-hover" id="dev-table">
    <thead class="thead-dark">
    <tr>

        <th>Inicio</th>
        <th>Fin</th>
        <th></th>


    </tr>
    </thead>
    <tbody class="table-stripped panel_tabla_tupla_editar">
    <tr>
        <td colspan="2">Añadir nuevo turno</td>
        <td class="">
            <button id="btnCrea" class="btn btn-primary"><i class="fas fa-plus"></i></button>
        </td>
    </tr>
    {% for i in turnos %}
        <tr data-id="{{ i.id }}">
            <td>
                {{ i.horaInicio | format_time(locale='es', pattern="HH:m") }}
            </td>
            <td>
                {{ i.horaFin | format_time(locale='es', pattern="HH:m") }}
            </td>
            <td class="">
                <button class="btnBorrar btn btn-danger"><i class="fas fa-times-circle"></i></button>
            </td>
        </tr>
    {% endfor %}

    </tbody>
</table>
