<table class="table table-hover" id="dev-table">
    <thead class="thead-dark">
    <tr>

        <th>Inicio</th>
        <th>Fin</th>
        <th></th>


    </tr>
    </thead>
    <tbody class="table-stripped panel_tabla_tupla_editar">
    {% for i in turnos %}
        <tr>
            <td>
                {{ i.horaInicio }}
            </td>
            <td>
                {{ i.horaFin }}
            </td>
            <td class="">
                <button class="btn btn-primary"><i class="fas fa-edit"></i></button>
            </td>
        </tr>
    {% endfor %}
    <tr>
        <td colspan="2">Añadir nuevo turno</td>
        <td class="">
            <button id="btnCrea" class="btn btn-primary"><i class="fas fa-plus"></i></button>
        </td>
    </tr>
    </tbody>
</table>
<div class="creaTurnos_panel">
    <div class="tuplaEscondida">
        <div><input type="time" placeholder="Hora inicio..."></div>
        <div><input type="time" placeholder="Hora finalizacion..."></div>
    </div>
    <div>
        <button id="btnAceptar" class="btn btn-primary"><i class="fas fa-check"></i></button>
    </div>
</div>