<div class="container">
    <h1 class="listados_titulo">Gestión de fichajes</h1>
    <div class="row">
        <div class="col">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div><h3 class="panel-title">Turnos</h3></div>
                    <div class="pull-right">
							<span class="clickable filter" data-toggle="tooltip" title="Toggle table filter"
                                  data-container="body">
								<i class="fas fa-filter"></i>
							</span>
                    </div>
                </div>
                <div class="panel-body">
                    <input type="text" class="form-control" id="dev-table-filter" data-action="filter"
                           data-filters="#dev-table" placeholder="Filtrar por inicio"/>
                </div>
                <div class="panel-table table-responsive">
                    <table class="table table-hover" id="dev-table">
                        <thead class="thead-dark">
                        <tr>
                            <th>Fecha</th>
                            <th>Motivo</th>
                            <th>Justificación</th>
                        </tr>
                        </thead>
                        <tbody id="incidencias_tabla" class="table-stripped panel_tabla_tupla_editar">
                        <tr>
                            <td colspan="4">Vacio!</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
