{% extends 'layout.html.twig' %}

{% block estilos %}
    <link rel="stylesheet" href="{{ asset('css/horarios.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.7.2/main.min.css">
{% endblock %}

{% block title %}Carta{% endblock %}

{% block content %}
    <div class="horarios_contenedor">
        <div class="horarios_contenedor_cabecera">
            <p>Gestion de Horarios</p>
            <select>
                {% for i in usuarios %}
                    <option value="{{ i.id }}">{{ i.username }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="horarios_contenedor_calendario">
            <div id='calendar'></div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/horarios.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.7.2/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.7.2/locales-all.min.js"></script>
{% endblock %}
